altuscli==1.6.2
asn1crypto==0.24.0
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
colorama==0.3.3
docutils==0.14
gitdb2==2.0.5
GitPython==2.1.11
idna==2.8
pure25519==0.0.1
pyasn1==0.4.5
python-dateutil==2.7.5
PyYAML==3.13
requests==2.21.0
rsa==4.0
six==1.12.0
smmap2==2.0.5
soupsieve==1.8
urllib3==1.24.1
